        .place-container {
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: center;
            background-color: rgb(157, 157, 212);
            height: auto;
        }
        
        .content {
            width: 92%;
            height: auto;
            max-width: 1400px;
            border: black 4px solid;
        }
        
        .content-header {
            width: 100%;
            height: 200px;
            border: green 4px solid;
        }
        
        .div-nav {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 92%;
            max-width: 1400px;
            height: 200px;
            margin: 0 auto;
            background-color: blueviolet;
            /* padding-top: 10px; */
        }
        
        .content-search-bar {
            width: auto;
            height: 200px;
            border: black 4px solid;
        }
        
        .content-filters {
            width: auto;
            height: 200px;
            border: black 4px solid;
        }
        
        .content-info {
            width: auto;
            height: 200px;
            border: black 4px solid;
        }
        
        .content-renting-rooms {
            display: flex;
            justify-content: center;
            width: auto;
            height: 500px;
            border: black 4px solid;
        }
        
        .marseille-box {
            width: 60%;
            flex: 1;
            border: red 4px solid;
        }
        
        .pop-box {
            width: 40%;
            border: brown 4px solid;
        }
        
        @media screen and (min-width: 769px) and (max-width: 992px) {
            .content-renting-rooms {
                flex-direction: column;
                align-items: center;
            }
            .marseille-box {
                width: 100%;
                height: 250px;
            }
            .pop-box {
                width: 100%;
                height: 250px;
                border: brown 4px solid;
            }
        }
        
        @media screen and (max-width: 768px) {
            .content-renting-rooms {
                flex-direction: column-reverse;
                align-items: center;
            }
            .marseille-box {
                width: 100%;
                height: 250px;
                flex: none;
            }
            .pop-box {
                width: 100%;
                height: 250px;
                border: brown 4px solid;
            }
        }
        
        .content-activities {
            width: auto;
            height: 500px;
            border: black 4px solid;
        }
        /* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
        
        .background-footer {
            display: flex;
            justify-content: center;
            width: 100%;
            height: 400px;
            background-color: salmon;
        }
        
        .content-footer {
            border: blue 4px solid;
            width: 92%;
            max-width: 1400px;
        }